@namespace Prolab22__3.Views.Arayuzler
@model Prolab22__3.Models.Randevu

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randevu Detayları</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Randevu Detayları</h1>
    <div>
        <p><strong>Randevu Tarihi:</strong> @Model.RandevuTarihi</p>
        <p><strong>Randevu Saati:</strong> @Model.RandevuSaati</p>
        <p><strong>Doktor:</strong> @Model.Doktor.Ad @Model.Doktor.Soyad</p>
        <p><strong>Hasta:</strong> @Model.Hasta.Ad @Model.Hasta.Soyad</p>
    </div>
</body>
</html>
