@model Prolab22__3.Models.DoktorDashboardViewModel

@{
    ViewData["Title"] = "Doktor Dashboard";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <h3>Alınan Randevular</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Randevu Tarihi</th>
                <th>Randevu Saati</th>
                <th>Hasta Adı</th>
                <th>Hasta Soyadı</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var randevu in Model.Randevular)
            {
                <tr>
                    <td>@randevu.RandevuTarihi.ToString("dd/MM/yyyy")</td>
                    <td>@randevu.RandevuSaati</td>
                    <td>@randevu.HastaAdi</td>
                    <td>@randevu.HastaSoyadi</td>
                    <td><a href="/Hastalar/Details/@randevu.HastaID">Detayları Görüntüle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
