@model IEnumerable<Prolab22__3.Models.Yonetici>

@{
    ViewData["Title"] = "Yönetici Listesi";
}

<h1>Yönetici Listesi</h1>

<div class="container">
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.SuccessMessage
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>Yönetici ID</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var yonetici in Model)
        {
            <tr>
                <td>@yonetici.YoneticiID</td>
                <td>@yonetici.Ad</td>
                <td>@yonetici.Soyad</td>
                <td>
                    <a asp-action="YoneticiInterface" asp-controller="Details" asp-route-id="@yonetici.YoneticiID">Detaylar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="YoneticiInterface" asp-action="Create">Yeni Yönetici Ekle</a>
