@model Prolab22__3.Models.HastaDashboardViewModel

@{
    ViewData["Title"] = "Hasta Dashboard";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <h3>Randevularınız</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Randevu Tarihi</th>
                <th>Randevu Saati</th>
                <th>Doktor Adı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var randevu in Model.Randevular)
            {
                <tr>
                    <td>@randevu.RandevuTarihi.ToString("dd/MM/yyyy")</td>
                    <td>@randevu.RandevuSaati</td>
                    <td>@randevu.DoktorAdi</td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Tıbbi Raporlarınız</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Rapor Tarihi</th>
                <th>Rapor İçeriği</th>
                <th>Detaylar</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rapor in Model.TibbiRaporlar)
            {
                <tr>
                    <td>@rapor.RaporTarihi.ToString("dd/MM/yyyy")</td>
                    <td>@rapor.RaporIcerigi</td>
                    <td><a href="@Url.Action("Details", "TibbiRaporlar", new { id = rapor.RaporID })">Detaylar</a></td>
                    <td>
                        <form asp-action="Delete" asp-controller="TibbiRaporlar" method="post" onsubmit="return confirm('Raporu silmek istediğinize emin misiniz?');">
                            <input type="hidden" name="id" value="@rapor.RaporID" />
                            <input type="submit" value="Sil" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a class="btn btn-primary" href="@Url.Action("Create", "Randevular")">Yeni Randevu Oluştur</a>
    </div>
    <br>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Create", "TibbiRaporlar", new { hastaId = Model.HastaID })">Tıbbi Rapor Ekleyin</a>
    </div>
</div>