@model Prolab22__3.Models.Doktor

@{
    ViewData["Title"] = "Doktor Detayları";
}

<h1>Doktor Detayları</h1>

<div>
    <h4>Doktor Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Doktor ID:</dt>
        <dd class="col-sm-10">@Model.DoktorID</dd>

        <dt class="col-sm-2">Ad:</dt>
        <dd class="col-sm-10">@Model.Ad</dd>

        <dt class="col-sm-2">Soyad:</dt>
        <dd class="col-sm-10">@Model.Soyad</dd>

        <dt class="col-sm-2">Uzmanlık Alanı:</dt>
        <dd class="col-sm-10">@Model.UzmanlikAlani</dd>

        <dt class="col-sm-2">Çalıştığı Hastane:</dt>
        <dd class="col-sm-10">@Model.CalistigiHastane</dd>
    </dl>
</div>

<div>
    <h4>Randevular</h4>
    <hr />
    @if (ViewBag.Randevular != null && ViewBag.Randevular.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Randevu ID</th>
                    <th>Randevu Tarihi</th>
                    <th>Randevu Saati</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var randevu in ViewBag.Randevular)
                {
                    <tr>
                        <td>@randevu.RandevuID</td>
                        <td>@randevu.RandevuTarihi.ToShortDateString()</td>
                        <td>@randevu.RandevuSaati</td>
                       
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Randevu bulunamadı.</p>
    }
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>
